.parent {
	display: flex;
	align-items: center;
	margin-bottom: 12px;

}

.red-text {
	margin-left: 5px;
}
.cangiuatext {
	text-align: center;
	color: blue;
 }
.large-contact {
	width:100px;
	height:100px;
	border-radius:60%;
	object-fit: cover;
}

.medium-contact {
	width:50px;
	height:50px;
	border-radius:50%;
	object-fit: cover;
}

.small-contact {
	width:35px;
	height:35px;
	border-radius:50%;
	object-fit: cover;
}
.cssProfile{
	display: block; margin-left: auto; margin-right: auto;
	width:100px;
	height:100px;
	border-radius:60%;
}

.white-text {
	color: white;
}

.black-text {
	color: black;
}
