.Messages-list{
    display: flex;
    flex-direction: column;
    transform: scale(-1);
    padding-bottom: 5px;
}
.listTextLeft{
    width: 100%;
    transform: scale(-1);
    display: flex;
}
.listTextRight{
    width: 100%;
    transform: scale(-1);
    display: flex;
    justify-content: flex-end;
}
.avatar-left{
    width: 40px;
    height: 40px;
    /*position: absolute;*/
    left: 5px;
    margin-left: 5px;
}
.avatar-right{
    margin-top: 5px;
    width: 40px;
    height: 40px;
    margin-left: 5px;
}
.avatar:hover{
    cursor: pointer;
  }
.text-left{
    width: 100%;
    background-color: #f0def0;
    border-radius: 5px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    /*margin-left: 45px;*/
    margin-top: 5px;
    max-width: 45%;
    word-break: break-word;
    font-size:18px;
    display: inline-block;
}

.text-right{
    color:#fff;
    width: 100%;
    background-color:#ac61f2;
    border-radius: 5px;
    width:fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 10px;
    margin-top: 5px;
    right: 65px;
    max-width: 45%;
    word-break: break-word;
    font-size: 18px;
    display: inline-block;
}
