.button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: .50rem;
    outline: none;
    margin: 10px;
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.purple-primary{
    background-color:#461d6c;
    color: #ffffff;
}

.purple-secondary{
    background-color: #ac61f2;
    color: #ffffff;
}
.grey-primary{
    background-color: #ededed;
    color: #ac61f2;
}
.maroon-primary{
    background-color: #541333;
    color: #ffffff;

}
